# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# prisma generated client
/src/generated

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# other
/Model
/data

# local data
*.db
*.db-journal
*.db-wal
*.db-shm
/data/class/s1/1.json
/data/class/s1/2.json
/data/class/s1/3.json
/data/class/s2/1.json
/data/class/s2/2.json
/data/class/s2/3.json
/data/class/s3/1.json
/data/class/s3/2.json
/data/class/s3/3.json
/data/class/s*/latest.new.json

# pm2 logs
/logs
